@tailwind base;
@tailwind components;
@tailwind utilities;

.text-3xl {
	font-size: 1.875rem;
	line-height: 2.25rem;
}

.text-green-600 {
	--tw-text-opacity: 1;
	color: rgba(5, 150, 105, var(--tw-text-opacity));
}

.p-2 {
	padding: 0.5rem;
}  
  